{:deps {;; Core Languages
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        ;; Environment Variables
        environ {:mvn/version "1.1.0"}
        ;; JSON
        cheshire {:mvn/version "5.9.0"}
        ;; HTTP clients
        clj-http {:mvn/version "3.10.0"}
        cljs-http {:mvn/version "0.1.46"}
        ;; Date support
        clojure.java-time {:mvn/version "0.3.2"}
        ;; CLJS hotloading
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        ;; Reagent (React widgets for ClojureScript)
        reagent {:mvn/version "0.8.1"}}
 :aliases {;; Prettier terminal-based Clojure REPL
           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts ["-m" "rebel-readline.main"]}
           :figwheel {:main-opts ["-m" "figwheel.main"]
                      :extra-deps {;; Prettier terminal-based ClojureScript REPL
                                   com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           :eastwood {:main-opts ["-m" "eastwood.lint" {:source-paths ["src/clj"]}]
                      :extra-deps {jonase/eastwood {:mvn/version "0.3.6"}}}}
 ;; We'll likely have Clojure, Clojurescript, and shared code directories
 :paths ["src/clj" "src/cljs" "resources" "target"]}
