{:deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {;; Prettier terminal-based REPL
           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts ["-m" "rebel-readline.main"]}}
 ;; We'll likely have Clojure, Clojurescript, and shared code directories
 :paths ["src/clj"]}
